<%- include ('./partials/header') %>

<section class="viewblogs">
    <div class="container">
        <div class="view">
            <h6><%= Date %> </h6><hr>
            <h1><%= Unique.title %></h1>
            <p><%= Unique.content %> </p>
            <hr>
        </div>
    </div>
</section>

<%- include('./partials/footer') %>